body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://a0.muscache.com/im/pictures/6fc5c23e-600f-4d28-b890-a8d651d5a60c.jpg?aki_policy=x_large) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://a0.muscache.com/im/pictures/84791950/f83d59ea_original.jpg?aki_policy=xx_large);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://a0.muscache.com/im/pictures/da8cc6cb-a3d1-40f2-9301-a2d599c31e8a.jpg?aki_policy=xx_large);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://a0.muscache.com/im/pictures/bd7e25cc-9fad-4091-ba7b-83c8e111d9ac.jpg?aki_policy=xx_large);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://a0.muscache.com/im/pictures/58f08583-ecf1-45c8-af53-1683f6dd20bd.jpg?aki_policy=xx_large);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}